APP_CANONICAL_HOST=whisperconnection.com
APP_TRUST_PROXY=0
NEO4J_URI=neo4j+s://your-instance.databases.neo4j.io
NEO4J_DRIVER=neo4j
NEO4J_DATABASE=neo4j
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=replace-this-value
